
.recipe{
    padding: 10px;
    .close-recipe{
        background-color: #d49073;
        color: white;
        float: right;
        display: block; 
    }
    .close-recipe:hover{
        background-color: #cd6c42;
    }   
    .title{
        margin-bottom: 30px;
        padding: 10px;
    }

    img{
        max-width: 300px;
        max-height: 300px;
        padding: 10px;
    }
}