.search{
    
    padding:20px;
    background-color:#9ec3a7;
    input{
        margin-right:20px;
        
    }
    
    .btn{
        background-color: #d49073;
        color: white; 
       
    }
    
    .btn:hover{
            background-color: #cd6c42;        
    }
}
